.offproducts {
  width: 1340px;
  height: 812.21px;
  margin: 10px auto;
  border-radius: 15px;
  border: solid 1px lightgray;
  display: flex;
  flex-flow: row wrap;
  font-family: var(--IranYekan);
  object-fit: cover;
  overflow: hidden;
  .offproducts__header {
    /* display: flex; */
    margin: 0 auto;
    position: relative;
    padding-right: 40px;
    h2 {
      font-family: var(--IranYekan);
      font-size: 20px;
      margin: 0px auto;
      margin-top: 35px;
    }
    img {
      position: absolute;
      top: 32px;
      left: 285px;
    }
  }
  .offproducts-products {
    width: inherit;
    height: 750px;
    /* background-color: yellowgreen; */
    display: flex;
    flex-flow: column;
    object-fit: cover;
    margin: 0 auto;
    padding-right: 12px;
    padding-top: 10px;
    .offproducts-products-line {
      width: inherit;
      height: 33.33%;
      display: flex;
      flex-flow: row nowrap;
      margin: 0 auto;

      .offproducts-products-line-iteme {
        width: 220px;
        height: 253px;
        padding-top: 20px;
        /* background-color: crimson; */
        border-left: 1px solid lightgray;
        border-bottom: 1px solid lightgray;

        .offproducts-products-line-iteme-img {
          width: inherit;
          padding-right: 40px;
          img {
            width: 150px;
            /* margin-bottom: 10px; */
            margin-right: 10px;
          }
        }
        .offproducts-products-line-iteme-info {
          width: inherit;
          height: 80px;
          display: flex;
          padding-top: 10px;
          padding-right: 20px;
          flex-flow: row wrap;
          .offproducts-products-line-iteme-info-price {
            display: flex;
            flex-flow: row;
            .offproducts-products-line-iteme-info-price-discount {
              width: 35px;
              height: 23px;
              font-size: 21px;
              background-color: #d32c4e;
              color: #fff;
              border-radius: 15px;
              align-items: center;
              font-family: var(--BNazanin);
              font-size: 15px;
              text-align: center;
            }
            .offproducts-products-line-iteme-info-price-price {
              width: 180px;
              height: 26px;
              font-family: var(--BNazanin);
              font-size: 21px;
              display: flex;
              gap: 5px;
              padding-right: 60px;
              color: #4b4b4d;
              img {
                width: 16px;
                height: 16px;
              }
            }
          }

          .offproducts-products-line-iteme-info-price-realprice {
            display: flex;
            font-family: var(--BNazanin);
            font-size: 15px;
            padding-right: 60px;
            text-decoration: line-through;
            color: lightgray;
            justify-items: flex-start;
            margin-right: 50px;padding-bottom: 20px;
          }
        }
      }
    }
  }
  .blenone{
      border-left: none !important;
  }
  .bbnone{
      border-bottom: none !important;
  }
}

